$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

.header{
    background: #000;
    overflow: hidden;
    color: #fff;
}

.xl-label{
    color: #666;
    font-size: 20.6px;
    font-family: 'Helvetica Neue';
    font-weight: normal;
}

.dropdown-fullwidth{
    .dropdown-toggle,
    .dropdown-menu{
        width: 100%;
        text-align: left;
        .caret{
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -3px;
        }
    }
}

.dropdown-grey{
    .dropdown-toggle{
        background-color: #e6e6e6;
    }
}

.bg-grey{
    background-color: #e6e6e6;
}
.bg-white{
    background-color: #fff;
}

#btn-search{
    @extend .btn-no_radius;
    font-size: 36px;
    margin-top: 8px;
}
#form-licensee-search{
    label,
    .help-block{
        margin-top: 0;
        margin-bottom: 5px;
    }
}
#col-left{
    border-right: 2px solid #ccc;
}

.btn-no_radius{
    border-radius: 0;
}

.content-section{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    &:first-child{
        border-top: 0;
    }
}

.container{
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}

.navbar-spaced{
    li{
        margin-right: 20px;
    }
}

.simple-separater{
    border-top-color: #ccc;
}

.form-group-radio-header{
    .radio-inline{
        margin-left: 10px;
        font-size: 12px;
        line-height: 2em;
    }
}
